.footer {
  background: #0b0b0b;
  border-top: 1px solid #222;
}

.footer-content {
  width: 85%;
  max-width: 1200px;
  margin: auto;
  padding: 70px 0;
  text-align: center;
}

.footer-content h2 {
  color: #22c55e;
  font-size: 2.5rem;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.footer-content > p {
  color: #b8b8b8;
  max-width: 600px;
  margin: auto;
  line-height: 1.8;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.contact-item h4 {
  color: white;
  margin-bottom: 10px;
}

.contact-item p {
  color: #22c55e;
}

.footer-bottom {
  border-top: 1px solid #222;
  padding: 20px;
  text-align: center;
}

.footer-bottom p {
  color: #8f8f8f;
  font-size: .9rem;
}

@media (max-width: 768px) {
  .footer-content {
    width: 90%;
  }

  .footer-content h2 {
    font-size: 2rem;
  }

  .contact-info {
    flex-direction: column;
    gap: 35px;
  }
}